@import "card.css";

@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

:root {
  --primary: rgb(150, 233, 175);
  --secondary: rgb(169, 215, 247);
  --tertiary: rgb(0, 0, 0);
  --bg: rgb(40, 41, 40);
  --bglight: rgb(142, 143, 142);
  --bgaccent: rgb(250, 92, 92);
}

body {
  font-family: "Moderustic", sans-serif;
  background: var(--bg);
  color: var(--bglight);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 52em;
}

.component--hide {
  display: none;
}

.input--container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

li {
  width: 100%;
}

li:hover {
  background-color: var(--secondary);
  color: var(--bg);
  width: 100%;
}

.returnItem {
  margin-top: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.5em;
  border: 1px solid var(--primary);
  color: var(--secondary);
  border-radius: 15px;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid var(--primary);
  border-radius: 15px 0 0 15px;
  background: var(--bg);

  width: 53em;
}

#itemSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
  background: var(--primary);
}

#itemSelect:hover {
  background: var(--bg);
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

#locs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  color: var(--primary);
  flex-wrap: wrap;
}

#apiGet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
  margin-top: 1.5em;
  border: 1px solid var(--tertiary);
  border-radius: 15px;
  background: var(--bglight);
  color: var(--tertiary);
  width: 30%;
}

#apiGet:hover {
  background: var(--secondary);
  border: 1px solid var(--primary);
  color: var(--tertiary);
  cursor: pointer;
}

@keyframes textFade {
  0% {
    color: var(--bg);
  }
  25% {
    color: var(--primary);
  }
  50% {
    color: var(--secondary);
  }
  75% {
    color: var(--primary);
  }
  100% {
    color: var(--bg);
  }
}

@keyframes bgFade {
  0% {
    background: var(--bglight);
  }
  25% {
    background: var(--bg);
  }
  50% {
    background: var(--tertiary);
  }
  75% {
    background: var(--bg);
  }
  100% {
    background: var(--bglight);
  }
}

#searchCriteria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 10px;
  width: 100vw;
  justify-content: center;
}

label {
  color: var(--primary);
  margin-right: 0.7em;
}

input {
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.5em;
  background: var(--bg);
  color: var(--bglight);
}

input:focus {
  border-color: var(--secondary);
}

#apiPost {
  display: grid;
  width: 95vw;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.closeItem {
  color: red;
  font-size: 1.5em;
  cursor: pointer;
}

.closeItem:hover {
  color: var(--tertiary);
  background: red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px red;
  }
  50% {
    box-shadow: 0 0 20px red;
  }
  100% {
    box-shadow: 0 0 5px red;
  }
}

@media screen and (max-width: 800px) {
  .input--container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #search {
    width: 90vw;
  }

  #itemSelect {
    width: 50vw;
  }

  .card {
    width: 90vw;
  }
}
